# This is copied form the sample RC configuration file in the sample dir


# This is for a hsqldb Server running with default settings on your local

# computer (and for which you have not changed the password for "SA").

urlid zombunity

url jdbc:hsqldb:hsql://localhost/zombunity

username SA

password


